
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    margin-bottom: 15px;
    background-color: #0b022d;
}

.logo div:hover {
    columns: #bfd1f1;
    text-decoration: none;
}

.logo > div > svg {
    color: #ff4343;
}

.logo > div > span {
    color: white;
    margin-left: 3px;
}

.logo div,
.toggle div {
    font-size: 19px;
}

@media all and (min-width: 768px) {
    .logo {
        flex: 1;
        margin-left: 0;
    }
}

@media all and (min-width: 900px) {
    .logo {
        order: 0;
    }
}