.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body {
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app__menu_buttons {
  display: flex;
  justify-content: space-evenly;
}

.app {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.app__side_bar {
  display: flex;
  flex-direction: column;
  padding-right: 4px;
  margin-right: 6px;
  border-right: 1px solid #ececec;
  width: 150px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #e5e5e5; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.app__day_view {
  margin-left: 160px;
  margin-right: 10px;
  flex: 1 1 auto;
}