.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

html, body {
    height: 100%;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app__main {
    display: flex;
    height: 100%;
}

.app__body {
    flex: 1 1 auto;
    margin: 20px;
}

.pro-sidebar > .pro-sidebar-inner{
    background: #0b022d !important;
}

.app__menu > div > div > nav > ul {
    display: flex;
    flex-direction: column;
}

.App-link {
    color: #61dafb;
}

.app__menu_buttons {
    display: flex;
    justify-content: space-evenly;
}

.app__add_day_button {
    border: none;
    border-radius: 0px;
    padding: 12px;
    background-color: #ec4068;
    color: white;
    width: auto;
}

.app__duplicate_day_button {
    border: none;
    border-radius: 0px;
    padding: 12px;
    background-color: #2a9fff;
    color: white;
    width: auto;
}

.app__add_day_button:hover {
    border: none;
    border-radius: 0px;
    padding: 12px;
    background-color: #ff870a;
    color: black;
    cursor: pointer;
}

.app__duplicate_day_button:hover {
    border: none;
    border-radius: 0px;
    padding: 12px;
    background-color: #2ff7ff;
    color: black;
    cursor: pointer;
}