.text-field-editor {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    flex: 1 1 auto;
    cursor: text;
    word-break: break-all;
}

.text-field-editor__toolbar {
    display: flex;
    flex: 1 1 auto;
    border-bottom: 1px solid #ababab;
    padding-bottom: 5px;
}

.text-field-editor__icon {

}

.text-field-editor__button {
    padding: 4px 9px;
    margin: 5px;
    color: #7f7f7f;
    background-color: white;
    border: 2px solid #a8a8a8;
    border-radius: 3px;
}

.text-field-editor__button_active {
    color: white;
    border-color: #2f2f2f;
    background-color: #2f2f2f;
}